<plugin id="cordova-plugin-idscan-intent" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins">
  <name>IdScanIntentPlugin</name>

  <js-module src="www/idScanIntent.js" name="IdScanIntent">
    <clobbers target="cordova.plugins.IdScanIntent" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/com/idscan/intent/IdScanIntentPlugin.java" target-dir="com/idscan/intent" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="cordova.plugins.IdScanIntent">
        <param name="android-package" value="com.idscan.intent.IdScanIntentPlugin" />
      </feature>
    </config-file>
  </platform>
</plugin>
